<footer class='second-fotter'>
  <div class='second-fotter-text-wrap'>
    <p class='second-fotter-text'></p>
    <p class='second-fotter-text'></p>
    <p class='second-fotter-text'></p>
  </div>
  
</footer>