.main {
  background-color: #fafafa;
  height: 100vh;
  overflow: scroll;
}

.diary-rooms {
  text-align: center;
  background-color: #2f3e51;
  height: 100vh;
  padding: 20px 20px;
  overflow: scroll;
}

.inner {
  width: 90%;
  margin: 0 auto;
  
}

.form__wrapper{
  min-height: calc(100vh - 161px);
  text-align: center;
}

.form__text {
  width: 50%;
  margin: 0 auto;
}

.field{
  margin: 10px 0;
}

.actions{
  padding-bottom: 40px;
}



.diary__btn {
  display: inline-block;
  padding: 0.4em 1.6em;
  margin: 1em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: lightgreen;
  border: 1px lightgreen solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.diary__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #66e992;
  border: 1px #66e992 solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.greeting{
  margin-bottom: 20px;
}
.greeting__link{
  text-decoration: underline;
}
.page-heading {
  padding: 10px 0;
  color: black;
  border-bottom: solid 1px red;
  font-size: 30px;
  margin-bottom: 28px;
}
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 161px);
}
.card {
  width: 100%;
  margin-bottom: 40px;
}
.card__img {
  margin: 16px 0;
}

.card__body {
  color: white;
}

.card__title {
  color: white;
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
}
.card__summary {
  font-size: 16px;
}
.card__user {
  display: block;
  font-size: 12px;
  color: #999;
  text-align: right;
  text-decoration: underline;
}

.diary__wrapper {
  height: auto;
  margin: 20px auto;
  font-size: 16px;
}

.diary-header {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.diary__date {
  text-align: center;
  margin-bottom: 10px;
}

.diary__body {
  display: flex;
  /* justify-content: space-between; */
}

.diary-left {
  width: 50%;
}

.diary-right {
  width: 50%;
}

.detail__title {
  font-size: 20px;
  font-weight: bold;
}

.diary__detail {
  padding: 0.5em 1em;
  margin: 2em 10px;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.icon {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.detail__message {
  padding: 0 5px;
  word-wrap: break-word;
  
}

.diary__manage {
  text-align: center;
}

.diary-list {
  color: white;
  font-size: 16px;

}